<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Seema LoanDepartment"> 
  <test name="Seema Personal loan">   
   <classes>
      <class name="TestPackage.day1">  
 		  <methods>
 		     <include name="Demo"/>
 		  </methods>    
      </class>
      <class name="TestPackage.day2"/>
   </classes>
  </test>
      
    <test name="Home Loan">
    <classes>
       <class name="TestPackage.day3">
        <methods>
        <!--  >exclude name="MobileHomeloan"/-->
        </methods>
        </class>
    </classes>
    </test>
    
</suite> 
 